h1 welcome admin
p= link_to  'New category', new_admin_category_path
p= link_to  'New admin', new_admin_users_admin_path
p= link_to  'New candidate', new_admin_users_candidate_path
p= link_to  'New employer', new_admin_users_employer_path
