= render 'shared/templates/index',
  collection: @users,
  table: render('shared/users/partials/table', users: @users),
  create: nil,
  filter: render('shared/users/partials/filter', users: :candidates)
