/*
 *= require bootstrap-datepicker3
 */

@import "bootstrap";
@import "jquery-ui";
@import "resume";

#geocomplete { width: 200px}

#multiple li {
  cursor: pointer;
  text-decoration: underline;
}


#map-canvas {
  height: 400px;
}
