/*
 *= require bootstrap-datepicker3
 */

@import "bootstrap";
@import "jquery-ui";
@import "resume";
@import "message";

#geocomplete { width: 200px}

#multiple li {
  cursor: pointer;
  text-decoration: underline;
}


#map-canvas {
  height: 400px;
}


.filter-link {
  border-bottom: 1px solid blue;
}
