<div class="main-wrapper">
  <%= render 'resumes/partials/resume_card', resume: @resume%>
  <%= render 'resumes/partials/resume_experience', resume: @resume%>
  <%= render 'resumes/partials/resume_projects', resume: @resume%>
  <%= render 'resumes/partials/resume_skills', resume: @resume%>
</div>
