<div class="main-wrapper">
    <%= render 'partials/resume_card'%>
    <%= render 'partials/resume_experience'%>
    <%= render 'partials/resume_projects'%>
    <%= render 'partials/resume_skills'%>
</div>
