<div class="main-wrapper">
  <%= render 'resumes/partials/resume_card'%>
  <%= render 'resumes/partials/resume_experience'%>
  <%= render 'resumes/partials/resume_projects'%>
  <%= render 'resumes/partials/resume_skills'%>
</div>
