= link_to 'My Profile',
           profile_path,
           class: 'nav-link'
= link_to 'New resume',
           new_candidate_resume_path,
           class: 'nav-link'
= link_to 'Sign out',
           destroy_user_session_path,
           method: :delete,
           class: 'nav-link'
